{% extends "base.html" %}

{% block link_css %}
        <link rel="stylesheet" href="../static/css/top1-main-style.css"/>
{% endblock %}

{% block main %}
    <main class="container" id="m001">
            <div class="top_content">
                <a href="/" class="top_card">
                        <img src="../static/imgs/top/sneaker-big__img_1.png" alt="top_1">
                </a>
                <div class="top_good_inform">
                    <p class="top_text_1">The New Balance C-ms574</p>
                    <p class="top_text_2">Salehe Bembury Shark Skin</p>
                    <div class="top_info">
                        <p class="top_text_3">Компания New Balance изначально занималась производством стель и ортопедической обуви в начале
                            20-го века в Бостоне, США. Сегодня, New Balance — это мировой бренд, производящий спортивную одежду и обувь для активного отдыха и спорта. Кроссовки New Balance отличаются удобством, стабильностью, качеством и современным дизайном.
                            
                            Благодаря технологиям, таким как Encap и Abzorb, обувь этого бренда обеспечивает оптимальную амортизацию и поддержку стопы, делая её популярной среди спортсменов и любителей активного образа жизни. Кроме этого, New Balance заботится о внешнем виде своей продукции, предлагая разнообразие моделей и цветовых решений, от классических до ярких и стильных.
                            
                            Кроссовки New Balance предназначены для различных видов деятельности: бега, ходьбы, тренировок в зале и повседневной носки. Они сочетают в себе комфорт и функциональность, а также удовлетворяют потребности как профессиональных спортсменов, так и любителей спорта. Благодаря широкому ассортименту, каждый может выбрать подходящую для себя модель.</p>
                        <div class="top_table">
                            <div class="top_row">
                                <p class="top_about">О кроссах</p>
                                <div class="top_line"></div>
                            </div>
                            <div class="top_row">
                                <div class="top_more_inf">
                                    <div>
                                        Дата выхода
                                    </div>
                                    <div>
                                        10/03/2020
                                    </div>
                                </div>
                                <div class="top_line"></div>
                            </div>
                            <div class="top_row">
                                <div class="top_more_inf">
                                    <div>
                                        Розничная цена
                                    </div>
                                    <div>
                                        250€
                                    </div>
                                </div>
                                <div class="top_line"></div>
                            </div>
                            <div class="top_row">
                                <div class="top_more_inf">
                                    <div>
                                        Материалы
                                    </div>
                                    <div>
                                        Замша 100%, резина
                                    </div>
                                </div>
                                <div class="top_line"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}